services:
    smtpbound:
        image: ghcr.io/ikifar2012/smtpbound:main
        env_file:
            - .env
        ports:
            - "25:25"
        cap_add:
            - NET_BIND_SERVICE
        restart: unless-stopped
        volumes:
            - ./secrets/certs:/certs